@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    margin: 0 25px;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}

p {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}

.first-image img, .second-image img, .fiveth-image img {
    width: 100%;
}

.first-image figure, .second-image figure, .fiveth-image figure, .sixth-image figure {
    margin: 0;
}

.second-image__title {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 18px;
}

.third-image__title {
    text-align: end;
    margin-top: 33px;
    margin-bottom: 17px;
}

.third-image figure, .fourth-image figure {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
}

.third-image img, .fourth-image img {
    width: 100%;
}

.fourth-image__title {
    text-align: center;
    margin-top: 29px;
}

.fiveth-image__title {
    margin-top: 28.5px;
    margin-bottom: 18px;
}

span {
    display: inline-block;
    width: 60%;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(10, 45, 80, 1);
}

.sixth-image__title {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 18px;
}

.sixth-image figure {
    max-width: 398px;
}

.sixth-image img {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(139, 146, 150, 1);
    width: 100%;
}

.seventh-image__title {
    text-align: end;
    margin-top: 36px;
    margin-bottom: 18px;
}

.seventh-image img {
    width: 100%;
}

.seventh-image figure {
    max-width: 150px;
    margin: 0;
}






