@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@600&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(33, 37, 41, 1);
}

/*header*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 50px 0 50px;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(33, 37, 41, 0.9);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item a {
    color: white; 
    text-decoration: none;
    padding: 25px 12.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all .4s;
    cursor: wait; 
}

.nav-item > a:active {
    font-size: 3.6rem;
}

.nav-item > a:hover {
    color: rgba(255, 183, 66, 1);
}

.btn-hire {
    background-color: rgba(255, 183, 66, 1);
    border-radius: 50px;
    padding: 12px 26px;
    text-decoration: none;
    color: rgba(33, 37, 41, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
}

/*main*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 226px;
}

.first-line-text {
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 17px;
}

.first-line-text a {
    color: rgba(255, 183, 66, 1);
}

.second-line-text {
    font-family: 'Inter', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
}

.third-line-text {
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 22px;
}

.skills-avatar {
    text-align: center;
    margin-bottom: 136px;
}

.skills-boxes {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 70px 137px 70px ;
}

.box {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(41, 43, 46, 1);
    padding: 25px 0;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.box:hover {
    background-color: #FFB742;
    cursor: pointer;
}

.box:hover .box-text-number {
    color: #000;
}

.box:hover .box-subtext {
    color: #000;
}

.box:hover svg path {
    fill: black;
}

.box-text-number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFB742;
    text-align: center;
    padding-bottom: 10px;
}

.box-subtext {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: white;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 0 49px 65px 49px;
    width: 90%;
}

.about-img {
    width: 55%;
}

.about-img img {
    width: 100%;
}

.about-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.about-nobtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.0rem;
    color: rgba(255, 183, 66, 1);
    background-color: rgba(255, 255, 255, 0.08);
    padding: 6px 25px;
    border-radius: 50px;
    width: max-content;
}

.about-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #fff;
    margin-bottom: 30px;
}

.about-subtext {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: rgba(212, 212, 212, 1);
    line-height: 3rem;
    margin-bottom: 54px;
}

.about__btn-hire {
    background-color: rgba(255, 183, 66, 1);
    border-radius: 50px;
    padding: 12px 39px;
    text-decoration: none;
    color: rgba(33, 37, 41, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__nobtn {
    padding: 6px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #FFB742;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
}

.portfolio__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #fff;
    margin-bottom: 30px;
}

.portfolio__nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 30px;
}

.portfolio__nav-item a {
    color: white; 
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.6rem;
    transition: all .4s;
    border-radius: 3px;
}

.portfolio__nav-item {
    margin: 0 12px;
}

.portfolio__nav-item a:hover {
    background-color: rgba(255, 183, 66, 1);
    color: rgba(33, 37, 41, 1);
}

.portfolio__sample {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 90px 116px 90px;
}

.portfolio__sample img {
    
    width: 100%;
}

.portfolio__sample-item {
    width: 30%;
    margin: 15px;
}

.portfolio__sample img:hover {
    width: 103%;
    box-shadow: 0 4px 57px 3px rgba(255, 183, 66, 1);
}

/*footer*/

footer {
    background-color: #1C1C1C;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 108px;
    padding-bottom: 93px;
    margin:0 50px ;
}

.footer__name {
    width: 25%;
}

.footer__name-name {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 3.2rem;
    color: rgba(255, 183, 66, 1);
    margin-bottom: 30px;
}

.footer__name-prof {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: rgba(212, 212, 212, 1);
}

.footer-item {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: rgba(245, 251, 242, 1);
    margin-bottom: 15px;
}

.footer-nav-item a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgba(123, 123, 123, 1);
    border-radius: 40px;
    padding: 5px 10px;
}

.footer-nav-item a:hover {
    box-shadow: 0 4px 57px 3px rgba(245, 251, 242, 1);
  
}

.footer-nav {
    list-style: none;
    padding: 0;
    line-height: 36px;
}

.footer__newsletter {
    width: 24%;
}

.footer__newsletter-item {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgba(123, 123, 123, 1);
    line-height: 36px;
}

.footer__newsletter-item a {
    text-decoration: none;
    color: rgba(123, 123, 123, 1);
}

.footer__newsletter-item a:hover {
    box-shadow: 0 4px 57px 3px rgba(255, 183, 66, 1);
    background-color: rgba(255, 183, 66, 0.2);
}






