@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

/*----------HEADER-------------*/

#header {
    background-color: #fff;
}

.bg-light {
    background-color: #fff !important;
}

.logo {
    margin-right: 5%;
}

.header-search {
    background-image: url(../img/adress.png);
    background-repeat: no-repeat;
    background-position: 4%;
    border: 2px #323232 solid;
    padding-left: 11%;
    width: 21rem;
    color: #A1A1A1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.header-form {
    margin-right: 38%;
}

.orange-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 25px;
    background-color: #EF781A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff !important;
}

.green-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 25px;
    background-color: #00D008;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff !important;
}

.me-auto {
    margin: 0 !important;
}

.nav-item {
    margin-right: 15% !important;
    text-align: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    border-top: 1px solid #C4C4C4;
    padding-top: 76px;
    padding-bottom: 30px;
    padding-left: 10%;
}

/*-----------------------MAIN--------------------------------*/

main {
    background-color: #ECECEC;
}

.main {
    margin: 0 auto;
    width: 80%;
    padding-top: 31px;
    display: grid;
    grid-template-columns: 65% 35%;
    position: relative;
}

.main,
.header,
.footer {
    margin: 0 auto;
    width: 80%;
}

/*-------------------BUTTONS--------------------------*/

.btn-group {
    display: inline;
}


.btn-group a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.btn-primary {
    color: #7B7B7B !important;
    background-color: #ECECEC !important;
    border: #C4C4C4 !important;
}

.btn-primary:hover {
    color: #343434 !important;
    background-color: #C4C4C4 !important;
    border-color: #C4C4C4 !important;
    border-radius: 10px !important;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #343434;
    background-color: #C4C4C4 !important;
    border-color: #C4C4C4 !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #343434 !important;
    background-color: #C4C4C4 !important;
    border-color: #C4C4C4 !important;
    box-shadow: none;
    border-radius: 10px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
    margin-left: 0;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
    margin-left: 0;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
    margin-left: 0;
}

.btn-group-vertical>.btn-check:checked+.btn,
.btn-group-vertical>.btn-check:focus+.btn,
.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover,
.btn-group>.btn-check:checked+.btn,
.btn-group>.btn-check:focus+.btn,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 1;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

/*--------------------SECTIONS---------------------*/

.left-part {
    width: 100%;
}

.right-part {
    width: 100%;
    margin-left: 35px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: max-content;
    position: sticky;
    top: 15%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 35px 0;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.card:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    transition-delay: .1s;
    cursor: pointer;

}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    margin-bottom: 15px;
}

.card-price {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;

}

.basket {
    color: #fff;
    background-color: #FF6C01;
    text-decoration: none;
    padding: 10px 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.66rem;
    border-radius: 10px;
    position: absolute;
    bottom: -3px;
    left: -10px;
    visibility: hidden;
}

.basket-price {
    position: relative;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;

}

.card:hover .basket {
    visibility: visible;
    color: #fff;
}

.basket:active {
    transform: scale(.9);
}

.basket:focus {
    box-shadow: 0px 4px 4px #fa4a15;
}

svg:hover path {
    fill: #69A042;
    stroke: #69A042;
}

.bottom {
    margin-bottom: 21px !important;
}

.partners-container {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
}

.partners-box {
    margin-bottom: 15px;
}

.partners-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #999999;
    margin-bottom: 8px;
}

.partners-box-last {
    margin-bottom: 0;
}

.partners-subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.top {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: inline-block;
    padding: 15px 18px;
    position: sticky;
    bottom: 15%;
    left: 5%;
}

/*--------------FOOTER----------------*/

footer {
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}

.footer {

    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 30px 0 30px 0;
}

.footer-left {
    display: grid;
    grid-template-columns: 80px 100px 100px;
}

.footer-right {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    text-align: center;
    justify-self: end;
}

.footer-left-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

}

.footer-left-item a {
    text-decoration: none;
    color: #fff;
}

.middle-margin {
    margin: 0 5% !important;
}

.order-btn {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    width: 95%;
    display: inline-block;
}

.order-btn:hover {
    color: #fff;
}

.order-price {
    justify-self: end;
}

.box-order {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 95%;
    justify-content: space-between;
}

.box-order:active {
    transform: scale(.9);
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 25px 0 30px 49px;
}

.order {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20px 24px;

}

.big-mac-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.66rem;
}

.big-mac-menup-prize {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.66rem;
}

.big-mac-menu-list {

    padding-left: 1%;
}

.big-mac-menu-list li {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.66rem;
    color: #979797;
}

.shipping {
    margin-left: 49px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.shipping-price {
    justify-self: end;
    margin-right: 19%;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-between;
    }
}

@media screen and (max-width:991px) {
    .card-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }

    .card {
        margin: 0 !important;
    }

    .main {
        display: block;
    }

    .right-part {
        margin: 0;
    }

    h3:not(.shares__h3) {
        margin-top: 11%;
    }

    .top {
        left: 2%;
    }
}

@media screen and (max-width:574px) {
    .card-group {
        display: grid;
        grid-template-columns: 80%;
        gap: 2%;
        justify-content: center;
    }

    .main {
        display: block;
    }

    .right-part {
        margin: 0;
    }

    h3:not(.shares__h3) {
        margin-top: 60%;
    }

    .top {
        left: 1%;
    }
}

@media screen and (max-width:530px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .footer-left,
    .footer-right {
        justify-self: center;
    }
}