@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/*
font-family: 'Work Sans', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    background-color: #FFB084;
    border-radius: 20px;
    display: grid;
    gap: 17px;
    grid-template-columns: 400px 250px 250px;
    grid-template-rows: repeat(7, 85px);
    margin: 5% auto;
    width: fit-content;
    grid-template-rows: auto;
}

.grid1 {
    grid-column: 1/2;
    grid-row: 1/5;
    margin-top: 27px;
    margin-left: 41px;
    box-shadow: 7px 7px 0px #000000;
}

img {
    margin-left: 35%;
}

.age {
    display: inline;
    margin-right: 5%;
    margin-left: 75px;
}

.pronouns {
    display: inline;
}

.grid2 {
    grid-column: 1/2;
    grid-row: 5/6;
    margin-bottom: 33px;
    margin-left: 41px;
    box-shadow: 7px 7px 0px #000000;
}

.title {
    margin-left: 55px;
    margin-top: 10px;
    margin-right: 55px;
}

.grid3 {
    grid-column: 2/4;
    grid-row: 1/3;
    margin-top: 27px;
    margin-right: 45px;
    box-shadow: 7px 7px 0px #000000;
}

.bio {
    margin-top: 15px;
    margin-left: 45px;
}

p {
    margin: 15px 45px;
}

.grid4 {
    grid-column: 2/3;
    grid-row: 3/4;
    box-shadow: 7px 7px 0px #29A71E;
}

.goals {
    margin-left: 45px;
    margin-top: 5px;
}

.goals-ul {
    margin-left: 70px;
    margin-top: 5px;
}

.grid5 {
    grid-column: 2/3;
    grid-row: 4/6;
    margin-bottom: 33px;
    box-shadow: 7px 7px 0px #3675B0;
}

.dream {
    margin-left: 45px;
    margin-top: 25px;
}

.dream-ul {
    margin-left: 70px;
    margin-top: 5px;
}

.grid6 {
    grid-column: 3/4;
    grid-row: 3/5;
    margin-right: 45px;
    box-shadow: 7px 7px 0px #E13535;
}

.frustrations {
    margin-left: 15px;
    margin-top: 25px;
}

.grid6 ul {
    margin-left: 40px;
    margin-right: 15px;
}

.grid7 {
    grid-column: 3/4;
    grid-row: 5/6;
    margin-bottom: 33px;
    margin-right: 45px;
    box-shadow: 7px 7px 0px #000000;
}

.personality {
    margin-left: 15px;
}

.personality-list {
    margin-left: 15px;
}

#about {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
    margin: 15px 75px;
}

.text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #000;
}

.margin {
    margin-left: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #000;
}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #000;
}

.goals {
    color: #29A71E;
}

.frustrations {
    color: #E13535;
}

.dream {
    color: #3675B0;
}

p, .personality-list {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000;
}

li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000;
}

.grid1, 
.grid2, 
.grid3, 
.grid4, 
.grid5, 
.grid6,
.grid7 {
    background-color: #fff;
    border-radius: 20px;
}

@media screen and (max-width:895px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width:595px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
}

.grid1 {
    grid-column: 1/2;
    grid-row: 1/5;
    width: 80%;
    margin: 1% auto;
}

.grid2 {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 80%;
    margin: 1% auto;
}

.grid3 {
    grid-column: 1/2;
    grid-row: 6/8;
    width: 80%;
    margin: 1% auto;
}

.grid4 {
    grid-column: 1/2;
    grid-row: 8/9;
    width: 80%;
    margin: 1% auto;
}

.grid5 {
    grid-column: 1/2;
    grid-row: 9/11;
    width: 80%;
    margin: 1% auto;
}

.grid6 {
    grid-column: 1/2;
    grid-row: 11/13;
    width: 80%;
    margin: 1% auto;
}

.grid7 {
    grid-column: 1/2;
    grid-row: 13/14;
    width: 80%;
    margin: 2% auto;
}
}