@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

@media (min-width:1000px) {
    .container {
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
main {
    background-color: #E5E5E5;;
}
.container {
    background-color: #fff;
    min-width: 700px;
    max-width: 1000px;
    padding: 64px 0 110px 48px;
}

.line {
    border-top: 1px solid rgba(209, 209, 209, 1);
    margin-top: 27px;
    width: 95%;
}

.left {
width: 50%;
}

.right {
    width: 50%;
}

.information, .maternity-information, .official-use, .system-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.empty {
    display: inline-block;
}

.header {
    font-weight: 700;
    font-size: 24px;
    color: rgba(23, 23, 23, 1);
    margin-bottom: 79px;
}

.header-subtext {
    font-weight: 400;
    font-size: 14px;
    color: rgba(23, 23, 23, 1);
    margin-bottom: 24px;
}

.red-star {
    color: #D83933;
}

.information__title, .maternity__title, .official__title, .system__title {
    font-weight: 700;
    font-size: 20px;
    color: rgba(23, 23, 23, 1);
    margin-top: 32px;
    margin-bottom: 32px;
}

label {
    font-weight: 500;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    margin-top: 21px;
    margin-bottom: 8px;
    display: inline-block;
}

.select {
    width: 91%;
    font-weight: 400;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    padding: 9px 10px 9px 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

.text-input {
    width: 91%;
    font-weight: 400;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    padding: 9px 10px 9px 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

.noselect {
    width: 91%;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 80, 216, 1);
    padding: 9px 10px 9px 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background-image: url(../img/arrow-down.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

.checkbox {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    margin-top: 27px;
}

.checkbox-div {
    display: flex;
}

.checkbox-label {
    margin-top: 29px;
}

.readonly {
    background-color: #EFEFEF;
}

.checkbox-div-2 {
    margin-top: 103px;
    display: flex;
    margin-bottom: 10px;
}

.checkbox-label-2 {
    margin-top: 31px;
}

.noselect-2 {
    width: 91%;
    font-weight: 400;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    padding: 9px 10px 9px 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background-image: url(../img/arrow-down.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

.checkbox-div-3 {
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkbox-label-3 {
    margin-top: 20px;
}

.checkbox-3 {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    margin-top: 27px;
}

.noselect-search {
    width: 91%;
    font-weight: 400;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    padding: 9px 15px 9px 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background-image: url(../img/search-line.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

.next-btn {
    padding: 12px 16px;
    background-color: rgba(0, 80, 216, 1);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.btn-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 5%;
}

.noselect-search-last {
    width: 91%;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 80, 216, 1);
    padding: 9px 15px 9px 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background-image: url(../img/search-line.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

.next-btn:hover {
    cursor: pointer;
}










