@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1&family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/*
font-family: 'Inika', serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Rubik', sans-serif;
*/
  
* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    color: #3E45E8;
    font-weight: 400;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    letter-spacing: 0.1em;
    max-height: 54px;
    margin-top: 25px;
    margin-bottom: 31px;
}

.header__span {
    color: #E8C23E;
}

.title__background {
    height: 803px;
    width: 100%;
    background-image: url(img/backgroundCastle.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color:rgba(255, 255, 255, 1);
    padding-top: 200px;
    padding-left: 118px;;
    max-width: 81%;
    background-image: url(img/flag.png);
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 206px;
    line-height: 70px;
}

.card_title__h2 {
    margin: 72px 0 25px 80px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.line {
    border-width: 3px;
    border-style: solid;
    border-color: rgba(62, 69, 232, 1);
    width: 402px;
    margin-left: 80px;
    border-radius: 6px;
    margin-bottom: 33px;
}

.card_container {
    margin: 0 80px;
}

.card_left, .card_center, .card_right {
    display: inline-block;
    width: 30%;
    overflow: hidden;
    vertical-align: top;
    border-radius: 30px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    
}

.card_center {
    margin: 0 52px 0 40px;
}

.card__img {
    width: 100%;
}

h5 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgba(30, 141, 242, 1);  
    padding: 15px 0; 
    margin: 0;
}

a {
    text-decoration: none;
}

.card_text {
    padding-left: 15px;
}

.card_text:hover {
    background: linear-gradient(0deg, rgba(30,141,242,0.6587009803921569) 41%, rgba(232,194,62,0.44021358543417366) 67%);
    
}

.click {
    background-image: url(img/click.png); 
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 35px;
}

.card_text p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(232, 194, 62, 1);
    padding-bottom: 70px;
    margin: 0;
}

.card_left p {
    padding-bottom: 50px;
}

.map {
    background-image: url(img/Ukraines\ map.png);
    height: 537px;
    background-repeat: no-repeat;
    background-position: center;
}

.map__line {
    border-width: 3px;
    border-style: solid;
    border-color: rgba(62, 69, 232, 1);
    width: 402px;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 41px;
}

.map__title {
    margin-top: 74px;
    margin-bottom: 21px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.map__a {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin: 51px 0 31px 0;
}

.map__a a {
    color: white;
    background-color: rgba(42, 97, 240, 1);
    padding: 10px 92px 10px 92px; 
}

footer {
    background-color: rgba(47, 74, 75, 1);
}

.footer_a {
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: 
    rgba(168, 157, 157, 1); 
    text-decoration: none;
}

.footer_tel {
    margin-top: 21px;
}

li {
    text-align: center;
    list-style: none;
}

ul {
    padding: 0;
}

nav li{
    display: inline-block;
}

nav ul {
    text-align: center;
}

nav a {
    display: inline-block;
}

nav {
    padding-bottom: 27px;
}

.insta:hover {
    height: 74px;
    width: 73px;
}

.twit:hover {
    height: 74px;
    width: 73px;
}

.fb:hover {
    height: 74px;
    width: 73px;
}

.tg:hover {
    height: 74px;
    width: 73px;
}



