@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,700&family=Volkhov&display=swap');

/*
font-family: 'Rosario', sans-serif;
font-family: 'Volkhov', serif;
*/

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#team,
#gallery,
#services,
#contact-us,
footer {
    padding-top: 139px;
    width: 100vw;
}

header {
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.header-icon {
    min-width: 11%;
    margin-bottom: -2px;
}

.header-icon>img {
    width: 100%;
}

.header-menu__nav {
    display: flex;
}

.header-nav__item-a {
    color: #FFFCFC;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3.2rem;
    padding: 44px 25px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 65px 43px;
}

.gallary-img {
    width: 80%;
}

.gallery-img-left {
    animation: animationLeft;
    animation-duration: 2s;
    transition-timing-function: ease-out;
}

@keyframes animationLeft {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}

.box-center-left {
    animation: animationBoxLeft;
    animation-duration: 3s;
    transition-timing-function: ease-out;
    z-index: 1;
}

@keyframes animationBoxLeft {
    from {
        transform: translateX(-200%)
    }

    to {
        transform: translateX(0)
    }
}

.box-center-right {
    animation: animationBoxRight;
    animation-duration: 3s;
    transition-timing-function: ease-out;
    z-index: 1;
}

@keyframes animationBoxRight {
    from {
        transform: translateX(200%)
    }

    to {
        transform: translateX(0);
    }
}

.gallery-img-right {
    animation: animationRight;
    animation-duration: 2s;
    transition-timing-function: ease-out;
}

@keyframes animationRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.services {
    display: flex;
    height: 85vh;
}

.right-part {
    width: 47%;
}

.right-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-part {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    width: 53%;
    padding-bottom: 8%;
}

.services-img {
    width: 100%;
}

.services-title {
    text-align: center;
    padding-top: 1rem;
    font-style: italic;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Rosario', sans-serif;
}

.hair-styling {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    animation-name: animateHairStyling;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
}

@keyframes animateHairStyling {

    0%,
    100% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 100%;
    }

    50% {
        top: 100%;
        left: 100%;

    }

    75% {
        top: 100%;
        left: 0;
    }
}

.beard-trimming {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    animation-name: animateBeardTrimming;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
}

@keyframes animateBeardTrimming {

    0%,
    100% {
        top: 0;
        left: 0;
    }

    25% {
        top: 100%;
        left: 0;
    }

    50% {
        top: 100%;
        left: -100%;

    }

    75% {
        top: 0;
        left: -100%;
    }
}

.smooth-shave {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    animation-name: animateSmoothShave;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
}

@keyframes animateSmoothShave {

    0%,
    100% {
        top: 0;
        left: 0;
    }

    25% {
        top: -94%;
        left: 0;
    }

    50% {
        top: -94%;
        left: 100%;

    }

    75% {
        top: 0;
        left: 100%;
    }
}

.hair-straightening {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    animation-name: animateHairStraightening;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
}

@keyframes animateHairStraightening {

    0%,
    100% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: -100%;
    }

    50% {
        top: -88%;
        left: -100%;

    }

    75% {
        top: -88%;
        left: 0;
    }
}

.team__title {
    color: #000;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 6.6rem;
    text-align: center;
}

.team__photo {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.team__photo-img {
    width: 20%;
    margin: 50px 25px;
    position: relative;
    overflow: hidden;

}

.team__photo-img>img {
    width: 100%;
    border-radius: 40px;
    height: 100%;
    opacity: 1;
}

.img-hover {
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFAFA;
    background: rgba(163, 83, 10, 0.7);
    text-align: center;
    padding: 10% 10%;
    border-radius: 0 0 40px 40px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.team__photo-img:hover .img-hover {
    animation: animationHover;
    animation-duration: 1s;
    animation-delay: .2s;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animationHover {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.filter1:hover~.team__photo-img:not(filter1) {
    filter: brightness(50%);
}

.filter2:hover~.team__photo-img:not(filter2) {
    filter: brightness(50%);
}

.filter3:hover~.team__photo-img:not(filter3) {
    filter: brightness(50%);
}

.filter4:hover~.team__photo-img:not(filter4) {
    filter: brightness(50%);
}

/*FOOTER*/

.reviews {
    display: flex;
    width: 100vw;
}

.reviews-left {
    width: 50%;
    margin: 0 4% 4% 8%;
}

.contact-title {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 6.4rem;
    padding-right: 5%;
    text-align: center;
}

form {
    background-color: #E5E5E5;
    justify-content: center;
    width: 100%;
    padding: 3%;
}

.input {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

#name {
    width: 100%;
    padding: 5px 0 5px 15px;
}

#email {
    width: 100%;
    padding: 5px 0 5px 15px;
}

#message {
    padding-left: 15px;
    width: 99%;
    height: 25vh;
}

.input-name {
    width: 40%;
    margin-right: 30px;
}

.input-email {
    width: 60%;
    margin-right: 20px;

}

input, textarea {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    border: none;
}

.reviews-right {
    width: 50%;
}

iframe {
    width: 80%;
    height: 89%;
}

.contacts {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.font-contacts {
    font-family: 'Rosario', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: italic;
}

.noitalic {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.hours-title {
    margin-bottom: 5%;
}

.hours-info {
    padding: 0 20%;
}

