@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*font-family: 'PT Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-nav__svg {
    margin: 10px 70px 7px 70px;
    padding-top: 2px;
}

.header-nav__svg2 {
    margin: 8px 0 7px 58px;
    padding-top: 2px;
}

.img-width {
    width: 69%;
}

.header-nav__item {
    font-size: 120%;
    color: rgba(255, 255, 255, 1);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.margin-item {
    margin-top: 9px;
    margin-bottom: 6px;
    padding: 12px 2px;
    border-right: 2px rgba(255, 255, 255, 1) solid ;
    width: 170px;
    text-align: center;
}

ul li {
    float: left;
}

nav {
    overflow:auto;
}

header {
    background-color: rgba(32, 40, 70, 1);
}

/*main*/

main {
    background-color: #E5E5E5;
}

.main-title {
    background-color: rgba(198, 198, 220, 1);
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgba(32, 40, 70, 1);
    padding: 15px 0 15px 61px;
    margin-left: 116px;
}
.card-container {
    margin: 134px 0 0 144px;
    padding-bottom: 48px;
    position: relative;
}

.card {
    background-color: rgba(189, 189, 198, 1);
    margin-bottom: 36px;
    width: 90%;
    
}

.card__text {
    display: inline-block;
    width: 47%;
    margin: 28px 0 28px 0;
    vertical-align: top;
    
}

.img_star {
    margin-bottom: 180px;
}

path:hover {
    fill: yellow;
}

.card__subtext {
    background-color: rgba(215, 215, 221, 1);
    font-size: 115%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgba(32, 40, 70, 1);
    padding: 14px 15px;
    text-align: center;
}

.card__img {
    width: 38%;
    margin: 28px 43px 28px 63px;
    display: inline-block;
}

h4 {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgba(53, 60, 87, 1);
    border-bottom: 3px white solid;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.card__img img {
    width: 100%;
}

.btn-detail1 {
    background-color: #202846;
    position: absolute;
    top: 210px;
    right: 84px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    border-radius: 35px;
}

.btn-detail2 {
    background-color: #202846;
    position: absolute;
    top: 510px;
    right: 84px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    border-radius: 35px;
} 

.btn-detail3 {
    background-color: #202846;
    position: absolute;
    top: 810px;
    right: 84px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    border-radius: 35px;
}

.btn-detail4 {
    background-color: #202846;
    position: absolute;
    top: 1110px;
    right: 84px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    border-radius: 35px;
}
.fixed-div {
    width: 70px;
    bottom: 90px;
    right: 17px;
    position: fixed;
}

.img-top {
    width: 100%;
}

/*footer*/

footer {
    background-color: rgba(32, 40, 70, 1);
}

.footer-rights {
    color: rgba(238, 236, 241, 1);
    font-size: 34px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 21px 0 22px 60px;
}


