@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: rgba(45, 112, 83, 1);
    height: 237px;
    width: 752px;
    display: grid;
    grid-template-columns: 181px 200px 87px;
    list-style: none;
    margin: 0 auto;
}

.header__white-circle {
    height: 144px;
    width: 144px;
    background-color: white;
    border-radius: 74%;
    margin: 46px 0 47px 37px;
}

.burger-line {
    height: 15px;
    width: 87px;
    background-color: white;
    border-radius: 10px;
}

.burger-margin {
    margin: 13px 0;
}
.header__title  {
    margin: 39px 0 43px 57px;
    font-size: 30px;
    color: white;
}
.header__burger {
    display: inline-block;
    margin: 83px 53px 83px 249px;
    width: 87px;
}

.title-img {
    width: 752px;
    background-image: url(img/81image.jpg);/*не зміг викачати картинку через figpea, тому і вибрав іншу*/
    margin: 0 auto;
    height: 470px;
    background-size: cover;
}

.yellow-btn {
    text-decoration: none;
    background-color: rgba(203, 146, 35, 1);
    display: inline-block;
    width: 344px;
    height: 77px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin: 360px 213px 25px 190px;
}

body {
    width: 752px;
    margin: 0 auto;
}

.personal-info {
    display: flex;
    flex-direction: row;
}

.personal-photo {
    border-radius: 50%;
    margin: 46px 68px 46px 46px;
}

.name__surname {
    font-size: 36px;
}

.name__subtext {
    font-size: 24px;
}

.name {
    margin-top: 136px;
}

li {
    list-style: none;
    margin-left: 46px;
    
}

.text-reason li {
    font-size: 24px;
}

.text {
    margin: 46px 31px 46px 46px;
    font-size: 24px;
}

.text-reason__title {
    font-size: 36px;
    margin-left: 46px;
    margin-bottom: 43px;
}

.yellow-btn-second {
    text-decoration: none;
    background-color: rgba(203, 146, 35, 1);
    display: inline-block;
    width: 344px;
    height: 77px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin: 62px 213px 62px 190px;
}

.footer {
    height: 176px;
    background-color: rgba(136, 136, 136, 1);
    width: 752px;
    display: grid;
    grid-template-columns: 143px 381px 223px;;
    list-style: none;
    margin: 0;
    color: white;
    font-size: 18px;
}

.footer__white-circle {
    height: 99px;
    width: 99px;
    background-color: white;
    border-radius: 74%;
    margin: 38px 44px;
}

.footer__address {
    margin-top: 116px;
    margin-left: 108px;
    font-size: 18px;
}

.footer__tel {
    margin: 58px 21px 24px 0;
    font-size: 18px;
}

.footer__email {
    padding-top: 8px;
    font-size: 18px;
}

.footer__info a {
    text-decoration: none;
    color: white;
}
