@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@900&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

.container {
    margin: 134px 384px 0 266px ;
    max-width: 790px;
    align-items: center;
}

.line {
    margin-top: 16px;
    margin-bottom: 32px;
    border-width: 1px;
    border-color: rgba(239, 239, 239, 1);
    border-style: solid;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgba(11, 10, 5, 1);
    font-size: 48px;
    line-height: 63.98px;
    letter-spacing: 0.02em;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgba(11, 10, 5, 1);
    font-size: 32px;
    line-height: 42.66px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgba(11, 10, 5, 1);
    font-size: 24px;
    line-height: 31.99px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(11, 10, 5, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(7, 44, 176, 1);
}

pre {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(11, 10, 5, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
}

.contents__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgba(11, 10, 5, 1);
    font-size: 24px;
    line-height: 32.68px;
    letter-spacing: 0.04em;
    margin-top: 16px;
    margin-bottom: 16px;
}

