* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

.icon_container {
    margin-left: 100px;
}

.title_color {
    color: #adacac;
}

.speechify_square {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

.speechify_square__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
}

.speechify_square__blue {
    background-image: url(img/Blue1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 144px;

}

.speechify_square__glyph {
    background-image: url(img/Glyph1.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.speechify_circle {
    display: inline-block;
}

.white_square {
    background-color: white;
    height: 512px;
    width: 512px;
    padding: 34px;
}
.speechify_circle__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
    border-radius: 260px;
}

.speechify_circle__blue {
    border-radius: 260px;
    height: 208px;
}

.speechify_circle__blue img { 
    width: 100%;
    border-radius: 260px 260px 0 0;
}

.speechify_circle__glyph {
    margin-left: 59px;
    width: 75%;
}

.square {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

.square__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
}

.square__blue {
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.circle {
    display: inline-block;
}

.white_square {
    background-color: white;
    height: 512px;
    width: 512px;
    padding: 34px;
}
.circle__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
    border-radius: 260px;
}

.circle__blue {
    border-radius: 260px 260px 0 0;
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.petcube_square {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

.petcube_square__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
}

.petcube_square__blue {
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.petcube_square__blue img {
    margin: 60px 0;
}

.petcube_circle {
    display: inline-block;
}

.white_square {
    background-color: white;
    height: 512px;
    width: 512px;
    padding: 34px;
}
.petcube_circle__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
    border-radius: 260px;
}

.petcube_circle__blue {
    border-radius: 260px 260px 0 0;
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.petcube_circle__blue img {
    height: 150%;
    margin-left: 77px;
    margin-top: 59px;
}

.spark_square {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

.spark_square__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
}

.spark_square__blue {
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.spark_square__blue img {
    margin: 127px 0 0 173px;
}

.spark_circle {
    display: inline-block;
}

.white_square {
    background-color: white;
    height: 512px;
    width: 512px;
    padding: 34px;
}
.spark_circle__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
    border-radius: 260px;
}

.spark_circle__blue {
    border-radius: 260px 260px 0 0;
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.spark_circle__blue img {
    height: 150%;
    margin-left: 74px;
    margin-top: 59px;
}

.fiveth_line {
    display: flex;
    flex-direction: row;
}

.diia_square {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin-right: 103px;
    vertical-align: top;
}

.diia_square__yellow {
    background-color: #FFD84B;
    width: 512px;
    height: 100%;
}

.diia_square__blue {
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.diia_square__blue img {
    margin: 31% 20%;
}

.diia_circle {
    display: inline-block;
}

.white_square {
    background-color: white;
    height: 512px;
    width: 512px;
    padding: 34px;
    margin-right: 100px;
}

.diia_circle__yellow {
    background-color: #FFCE22;
    width: 100%;
    height: 100%;
    border-radius: 260px;
}

.diia_circle__blue {
    border-radius: 260px 260px 0 0;
    background-color: rgba(33, 55, 252, 1);
    width: 100%;
    height: 50%;
}

.diia_circle__blue img {
    height: 81%;
    margin-left: 67px;
    margin-top: 122px;
}

.diia_flag_1, .diia_flag_2, .diia_flag_3 {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

.diia_black_square {
    background-color: black;
    height: 512px;
    width: 512px;
}

.black_square_img {
    display: inline-block;
}

.big_diia_1_img {
    margin-top: 128px;
    margin-left: 101px;
}

.flag_img_1 {
    margin-left: 216px;
    margin-top: 32px;
}

.big_diia_2_img {
    margin-top: 45px;
    margin-left: 101px;
}

.flag_img_2 {
    margin-left: 21px;
    margin-top: 23px;
}

.flag_img_3_left {
    margin-left: 21px;
    margin-top: 27px;
}

.flag_img_3_right {
    margin-left: 307px;
    margin-top: 27px;
}
.big_diia_3_img {
    margin-top: 42px;
    margin-left: 101px;
}

.margin-top__rows {
    margin-top: 100px;
    
}


